body
{
    /* Coloca un borde */

/* Coloca un margen, parametros 4:*/
margin: 0;
}
.container
{
    
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}
/*header*/
header div
{

    display: inline-block;
}
header > div > img
{
    width: 95px;
    margin-top: 10px;
}
header > menu
{
    
    float: right;
    margin: 0;
    padding: 0;
}
header > menu > ul 
{
    display: inline-block;
  
    padding: 0;
    list-style: none;
    margin: 0;
}
header > menu > ul > li
{
    display: inline-block;
}
header > menu > ul > li > a
{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;  
    font-weight: bold;
    transition: all 0.7s ease;
}
header > menu > ul > li > a:hover
{
    background-color: black;
    color: white;
    transition: all 0.7s ease;
}
/*section plantilla*/
section
{
   
    margin-top: 20px;
    font-size: 0;
    height: 80vh;   
}
section > div:nth-child(1)
{
 
    display: inline-block;
    width: 30%;
    font-size: 16px;
    box-sizing: border-box;
    height: 80vh;
}
section > div:nth-child(1) figure
{
    margin: 0;
}
section > div:nth-child(1) figure img
{
    width: 100%;
    height: 80vh;
    object-fit: cover; /*para redimesionar una imagen segun su etiqueta*/
    filter: grayscale(1);

}
section > div:nth-child(2)
{
    
    display: inline-block;
    width: 70%;
    vertical-align: top;
    font-size: 16px;
    box-sizing: border-box;
    padding: 80px;
    height: 80vh;
    background-color: #f2f8fd;
    
    

}
section > div:nth-child(2) h1.index
{
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}
section > div:nth-child(2) h3
{
    font-size: 25px;
    margin-bottom: 35px;
    font-weight: 300;
}

section > div:nth-child(2) button
{ 
   display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;  
    font-weight: bold;
    transition: all 0.7s ease;
    background-color: black;
}
section > div:nth-child(2) button:hover
{
    background-color: white;
    color: black;
    transition: all 0.7s ease;
}
/*footer plantilla*/
footer > div
{

    display: inline-block;
}
footer > ul
{
    
    padding: 0;
    list-style: none;
    margin: 0;
    float: right;
}
footer > ul > div
{
    display: inline-block;
}
footer > ul > div > li
{ 
    display: inline-block;
}
footer > ul > div > li > a
{
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: black;  
    font-weight: bold;
    transition: all 0.7s ease;
}
footer > ul > div > li > a:hover
{
    background-color: black;
    color: white;
    transition: all 0.7s ease;
}
footer > ul > div > li > a > svg
{
    width: 20px;
}
/*Inicio del about*/
.about > div:nth-child(2)
{
    overflow-y: scroll;
    display: inline-block;
}
.aboutme
{
    font-size: 20px;
    margin: 0;
    display: inline-block;   
}
.about > div:nth-child(2) div .aboutme
{ 
    font-size: 20px;
    margin: 0;
    display: inline-block; 
}
.descripcion
{
    width: 40%;
}
.about > div:nth-child(2) div.text span
{
    font-weight: bold;
}
.about > div:nth-child(2) div.info
{
    box-sizing: border-box;
    display: inline-block; 
    font-size: 16px;
    width: 45%;
}
.about > div:nth-child(2) div.info span
{
    font-weight: bold;
}
.about div:nth-child(3) div
{
    display: inline-block;
    width: 50%;
    margin-top: 30px;
}
.about div:nth-child(4) div
{
    display: inline-block;
    width: 50%;
}
.about div:nth-child(5) div
{
    display: inline-block;
    width: 50%;
    margin-top: 30px;
}
.about div:nth-child(6) div:nth-child(1)
{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.porcentaje
{
    float: right;
    padding-right: 270px;
}

.about div:nth-child(6) div:nth-child(2)
{
    display: inline-block;
    width: 50%;
    
}
.about div:nth-child(6) div:nth-child(2) p
{
    display: inline;
    padding: 10px;


}
.about div:nth-child(7) div:nth-child(1)
{
    display: inline-block;
    margin-top: 30px;
}
.about div:nth-child(7) div:nth-child(2) figure
{
    margin: 15px;
    overflow: hidden;
    display: inline-block;
}

.about div:nth-child(7) div:nth-child(2) figure img
{
    width: 170px;
    height: 230px;
    margin: 0%;
    filter: grayscale(1);
    transition: all 0.7s ease;
    object-fit: cover;  
} 
.about div:nth-child(7) div:nth-child(2) figure img:hover
{
    filter: grayscale(0);
    transform: scale(1.5);
    transition: all 0.4s ease;
    
}
.about div:nth-child(8) div:nth-child(1)
{ 
    display: inline-block;
    margin-bottom: 15px;

}
.about div:nth-child(8) div:nth-child(2)
{
    display: inline-block;
}
.comilla
{
    width: 20px;
    right: 350px;
    filter: grayscale(1);
    transform: scale(-1);
    position: absolute;
    left: 80px;
    top: -7px;
}
.testimonio
{
    width: 35%;
    height: 120px;
    border: 2px solid #E5EDF4;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.testimonio2
{
    width: 22%;
    height: 40px;
    border: 2px solid #E5EDF4;
    padding: 40px;
    margin: 5px;
    margin-top: 30px;
    display: inline-block;
    position: relative;
}
.comilla2
{
    width: 20px;
    right: 350px;
    filter: grayscale(1);
    position: absolute;
    top: 15px;
    left: 46%;
    
}
.letras
{
    padding-top: 10px;
}
.datosdecontacto
{
    padding: 12px;
    list-style: none;
    text-decoration: none;
    
}
.contact div:nth-child(2) form
{
    display: inline-block;
}
.contact div:nth-child(2) div.boton
{
    padding-left: 52px;
}
.font-size-zero
{
    font-size: 0;
}
.font16
{
    font-size: 16px;
}
.line
{
    display: inline-block;
    width: 820px;
    height: 1px;
    background-color: gray;
    margin: 6px;
}
.line2
{
    display: inline-block;
    width: 275px;
    height: 1px;
    background-color: gray;
    margin: 6px;
}
/*portfolio*/

.portfolio div:nth-child(1) 
{
    display: inline-block;
}
.portfolio div:nth-child(2) div:nth-child(2) ul li
{
    display: inline-block;
}
.portfolio div:nth-child(2) div:nth-child(2) ul li a 
{
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: black; 
    font-weight: bold;
    transition: all 0.7s ease;
}
.portfolio div:nth-child(2) div:nth-child(2) ul li a:hover
{
    background-color: black;
    color: white;
    transition: all 0.7s ease;
}
.portfolio figure
{
    margin: 15px;
    overflow: hidden;
    display: inline-block;
}
.portfolio figure img
{
    width: 170px;
    height: 230px;
    margin: 0%;
    padding: 25x;
    filter: grayscale(1);
    transition: all 0.7s ease;
    object-fit: cover;
}
.portfolio figure img:hover
{
    filter: grayscale(0);
    transform: scale(1.1);
    transition: all 0.4s ease;
}

/*news*/
.about div:nth-child(2) figure
{
    margin: 15px;
    overflow: hidden;
    display: inline-block;
}

.about div:nth-child(2) figure img
{
    width: 170px;
    height: 230px;
    margin: 0%;
    padding: 25px;
    filter: grayscale(1);
    transition: all 0.7s ease;
    object-fit: cover;  
} 
.about div:nth-child(2) figure img:hover
{
    filter: grayscale(0);
    transform: scale(1.1);
    transition: all 0.4s ease;
}

@media screen and (max-width: 900px)
{
.about
{
   border: 1px solid red; 
}
}



